.popup__item-error {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #FF0000;
    text-align: left;
    box-sizing: border-box;
    border: 0;
    min-height: 25px;
}