.popup__edit {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    min-height: 27px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #000;
    text-align: left;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.popup__edit:focus {
    outline: none;
}
