.profile__add-button {
    height: 22px;
    width: 22px;
    padding: 14px 64px;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-left: auto;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .profile__add-button {
      margin: auto;
    }
 }
 
 @media screen and (min-width: 320px) and (max-width: 479px) {
    .profile__add-button {
        margin: auto;
    }
 }