.popup__close {
    background-image: url(../../../images/icon_close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: -40px;
    margin-top: -40px;
}

.popup__close:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        margin-right: 0;
        margin-top: -36px;
    }
}
